.table {
  color: #fff;
  background-color: #181818;
}

p {
  margin: 0;
}

.header {
  font-size: 14px;
  font-weight: 700;
  background-color: #1f1f1f;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #393939;
}

.header img {
  padding-right: 10px;
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
}

.participants {
  height: 87vh;
  overflow-y: auto;
}

.switch {
  position: relative;
  margin-left: 10px;
  width: 36px;
  height: 19px;
  border: 2px solid #424fb0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch.on {
  background-color: #2f3562;
}

.switch.off {
  background-color: #000;
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background-color: #5568fe;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.switch.on .slider {
  left: 19px;
}

.timeline {
  font-size: 14px;
  font-weight: 700;
  color: #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #393939;
}
